.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
}

.App .navbar {
  margin-bottom: 20px;
}

body { 
  padding-top: 55px;
}

.App .AppCon {
  width: 100%;
}

.pagination > li {
    cursor: pointer;
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
}

.pagination > li {
    cursor: pointer;
    display: inline-block;
}