/* .contentContainer {
    width: 100%;
    position: relative;
    display: flex;
} */

/* .leftSidebar {
  width: 15%;
  height: 100%;
  padding: 15px 20px;
  position: fixed;
  left: 0;
  right: 0;
  border-right: 1px solid #f0f0f0;
} */

.table {
    float: left;
}