.Home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: none;
}

.carousel .carousel-caption {
	top:40%;
}

.Home .lead {
	color: #ffc107!important
}

.carousel .carousel-caption p {
	color: lightgoldenrodyellow;
	font-family: "Open Sans", sans-serif;
	font-size: 3em;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

.carousel .carousel-caption h1 {
	font-family: "Open Sans", sans-serif;
	font-size: 8em;
	color:rgb(255, 255, 255) !important;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

.carousel .carousel-caption h2 {
	font-family: "Open Sans", sans-serif;
	font-size: 5em;
	color:rgb(255, 255, 255) !important;
	text-shadow:
	-1px -1px 0 #000,
	1px -1px 0 #000,
	-1px 1px 0 #000,
	1px 1px 0 #000;
}

.carousel{
	background-color: none;
	background-size: 100%;
	width: auto;
	max-height: 100%;
}
